@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center; /* Center the logo and text vertically */
  justify-content: space-between; /* Space out the logo and text */
  margin-bottom: 30px;
  padding: 20px; /* Add padding for space around the content */
  background-color: #ffff; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.logo {
  width: 100%;
  max-width: 200px; /* Adjust this to fit your logo */
}

.welcome-text {
  text-align: center;
  flex: 1;
}

.welcome-text h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #f98f7c;
}

.welcome-text p {
  margin-top: 10px;
  font-size: 16px;
  color: #0e5ddd;
}

.container {
  width: 50%;
  margin: auto auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.form-row {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}
.form-row > div {
  flex: 1;
  min-width: calc(50% - 20px);
}
input[type="text"],
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  color: #536387;
  resize: vertical;
}
input:focus {
  outline: 1px solid #967ef8;
}
.submit-btn {
  display: flex;
  justify-content: center;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  width: 50%;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .container {
    width: 80%;
    margin: 20px auto;
  }
  .form-row {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
  }
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .welcome-text h1 {
    font-size: 23px;
    margin: 12px 0;
  }
  .welcome-text p {
    font-size: 11px;
  }
}
.btn-back {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-back:hover {
  background-color: #0056b3;
}
